NQueens.class
maxScoreOfWords.class
gameOfExecution.class 
LexicographicalOrder.class
goldMine2.class
sudokuSolver.class
crosswordPuzzle.class
cryptarithmaticPuzzle.class
friendsPairing.class
partitionInKSubsets.class
allPalindromicPermutations.class
palindromePartioningOfString.class
equalSumSubsetPartition.class
javac wordPatternMatching.class
wordBreak.class
removeInvalidParenthesis.class
minimumSubsetSumDifference.class
permuatations.class
combinations.class
permutations2.class
combinations2.class
permutationsOfAString.class
maximumNumberAfterKSwaps.class
permutationsOfString2.class
WordsKSelection.class
WordsKSelection2.class
KLengthWords.class
KLengthWords2.class
queenCombination1.class
queenCombination2.class
queenPermutation1.class
queenPermutation2.class