NQueens.class
maxScoreOfWords.class
gameOfExecution.class 
LexicographicalOrder.class
goldMine2.class
sudokuSolver.class
crosswordPuzzle.class
cryptarithmaticPuzzle.class
friendsPairing.class
partitionInKSubsets.class
allPalindromicPermutations.class
palindromePartioningOfString.class
equalSumSubsetPartition.class
javac wordPatternMatching.class
wordBreak.class
removeInvalidParenthesis.class